<div class="container">
  <div class="d-flex align-items-center justify-content-between my-3">
    <h3 class="fs-3xl mb-4">Prompt Template</h3>
    <div class="d-flex gap-3">
      <a class="btn btn-gradient px-5"
         [routerLink]="'/main/prompt-template/create'"
         routerLinkActive="d-none"
         [routerLinkActiveOptions]="{exact: true}">Create</a>
      <a class="btn btn-gradient px-5"
         [routerLink]="'/main/prompt-template/list'"
         routerLinkActive="d-none"
         [routerLinkActiveOptions]="{exact: true}">Back</a>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
