/* Manrope Regular */
@font-face {
    font-family: 'Manrope';
    src: url('/assets/fonts/Manrope-Regular.woff') format('woff'),
         url('/assets/fonts/Manrope-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Manrope Medium */
@font-face {
    font-family: 'Manrope';
    src: url('/assets/fonts/Manrope-Medium.woff') format('woff'),
         url('/assets/fonts/Manrope-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Manrope SemiBold */
@font-face {
    font-family: 'Manrope';
    src: url('/assets/fonts/Manrope-SemiBold.woff') format('woff'),
         url('/assets/fonts/Manrope-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* Manrope Bold */
@font-face {
    font-family: 'Manrope';
    src: url('/assets/fonts/Manrope-Bold.woff') format('woff'),
         url('/assets/fonts/Manrope-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Manrope ExtraBold */
@font-face {
    font-family: 'Manrope';
    src: url('/assets/fonts/Manrope-ExtraBold.woff') format('woff'),
         url('/assets/fonts/Manrope-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

/* Manrope ExtraLight */
@font-face {
    font-family: 'Manrope';
    src: url('/assets/fonts/Manrope-ExtraLight.woff') format('woff'),
         url('/assets/fonts/Manrope-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

/* Manrope Light */
@font-face {
    font-family: 'Manrope';
    src: url('/assets/fonts/Manrope-Light.woff') format('woff'),
         url('/assets/fonts/Manrope-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
