<section class="login-page">
  <div class="container-fluid h-100 ps-0">
    <div class="row h-100">
      <div class="col-lg-6 bg-white d-flex align-items-center justify-content-center">
        <div class="login-container d-block">
          <!-- Logo -->
          <div class="login-logo text-start mt-5 ms-5">
            <img src="/assets/icons/logo.svg" alt="DATALAB" class="img-fluid">
          </div>
          <div class="login-right">
            <div class="login-form-box">
              <!-- Welcome Text -->
              <div class="flex flex-col gap-2 mb-4">
                <h1 class="welcome-text fs-2xl">Set new password</h1>
                <p class="subtitle-text">Enter your new password here.</p>
              </div>

              <form [formGroup]="rPasswordForm" (ngSubmit)="onSubmit()" novalidate>
                <!-- New Password Field -->
                <div class="form-group">
                  <div class="d-flex justify-content-between align-items-center mb-2">
                    <label for="new_password">New Password</label>
                  </div>
                  <div class="password-wrapper">
                    <input [attr.type]="isPassView ? 'text' : 'password'" formControlName="new_password"
                      autocomplete="off" class="form-control" id="new_password"
                      [ngClass]="{'is-invalid': (submitted || rPasswordForm.get('new_password')?.touched) && rPasswordForm.get('new_password')?.invalid}" />
                    <button type="button" class="toggle-password" (click)="isPassView = !isPassView">
                      @if(isPassView){
                      <svg viewBox="0 0 24 24" width="1.2em" height="1.2em" class="h-4 w-4">
                        <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                          stroke-width="2">
                          <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0-4 0"></path>
                          <path d="M21 12q-3.6 6-9 6t-9-6q3.6-6 9-6t9 6"></path>
                        </g>
                      </svg>
                      } @else {
                      <svg viewBox="0 0 24 24" width="1.2em" height="1.2em" class="h-4 w-4">
                        <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                          stroke-width="2">
                          <path d="M10.585 10.587a2 2 0 0 0 2.829 2.828"></path>
                          <path
                            d="M16.681 16.673A8.7 8.7 0 0 1 12 18q-5.4 0-9-6q1.908-3.18 4.32-4.674m2.86-1.146A9 9 0 0 1 12 6q5.4 0 9 6q-1 1.665-2.138 2.87M3 3l18 18">
                          </path>
                        </g>
                      </svg>
                      }
                    </button>
                  </div>
                  @if ((submitted || rPasswordForm.get('new_password')?.touched) &&
                  rPasswordForm.get('new_password')?.invalid) {
                  <div class="error-message">
                    @if (rPasswordForm.get('new_password')?.errors?.['required']) {
                    <div>Password is required.</div>
                    }
                    @if (rPasswordForm.get('new_password')?.errors?.['pattern']) {
                    <div>Password must be at least 8 characters, with uppercase, number and special character.</div>
                    }
                  </div>
                  }
                </div>

                <!-- Confirm Password Field -->
                <div class="form-group">
                  <div class="d-flex justify-content-between align-items-center mb-2">
                    <label for="confirm_password">Confirm Password</label>
                  </div>
                  <div class="password-wrapper">
                    <input [attr.type]="isPassView ? 'text' : 'password'" formControlName="confirm_password"
                      autocomplete="off" class="form-control" id="confirm_password"
                      [ngClass]="{'is-invalid': (submitted || rPasswordForm.get('confirm_password')?.touched) && rPasswordForm.get('confirm_password')?.invalid}" />
                    <button type="button" class="toggle-password" (click)="isPassView = !isPassView">
                      @if(isPassView){
                      <svg viewBox="0 0 24 24" width="1.2em" height="1.2em" class="h-4 w-4">
                        <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                          stroke-width="2">
                          <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0-4 0"></path>
                          <path d="M21 12q-3.6 6-9 6t-9-6q3.6-6 9-6t9 6"></path>
                        </g>
                      </svg>
                      } @else {
                      <svg viewBox="0 0 24 24" width="1.2em" height="1.2em" class="h-4 w-4">
                        <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                          stroke-width="2">
                          <path d="M10.585 10.587a2 2 0 0 0 2.829 2.828"></path>
                          <path
                            d="M16.681 16.673A8.7 8.7 0 0 1 12 18q-5.4 0-9-6q1.908-3.18 4.32-4.674m2.86-1.146A9 9 0 0 1 12 6q5.4 0 9 6q-1 1.665-2.138 2.87M3 3l18 18">
                          </path>
                        </g>
                      </svg>
                      }
                    </button>
                  </div>
                  @if ((submitted || rPasswordForm.get('confirm_password')?.touched) &&
                  rPasswordForm.get('confirm_password')?.invalid) {
                  <div class="error-message">
                    @if (rPasswordForm.get('confirm_password')?.errors?.['required']) {
                    <div>Confirm Password is required.</div>
                    }
                    @if (rPasswordForm.get('confirm_password')?.errors?.['passwordMismatch']) {
                    <div>Passwords do not match.</div>
                    }
                  </div>
                  }
                </div>

                <!-- Submit Button -->
                <button type="submit" class="btn-login">Reset Password</button>
              </form>
            </div>

          </div>

          <!-- Footer Links -->
          <div class="d-flex justify-content-center text-center">
            <p class="txt-tertiary fs-xsm w-50">By using Gdocz, you agree to our
              <a class="txt-tertiary text-decoration-none cursor-pointer"
                routerLink="https://gramosoft.tech/terms_and_condition/" target="_blank">End User Terms</a> and
              <a class="txt-tertiary text-decoration-none cursor-pointer" routerLink="https://gramosoft.tech/privacy/"
                target="_blank">Privacy Policy</a>.
            </p>
          </div>
          <p class="txt-tertiary fs-xsm mt-2 ms-5">© 2025
            <a class="txt-tertiary cursor-pointer text-decoration-none" href="https://gramosoft.tech/"
              target="_blank">Gramosoft</a>
          </p>
        </div>
      </div>

      <!-- Right Side - Splash Section -->
      <div class="col-lg-6 px-0">
        <div class="splash h-100 rigth-cont">
          <div class="right-cont-text">
            <img src="/assets/img/banner.png" alt="GDOCZ" class="img-fluid">
            <div class="mt-3 ps-3">
              <h2 class="fs-3xl fw-700">Turn Documents into Data</h2>
              <p class="fs-lg fw-400">GDocz transforms unstructured files into usable data for research and business.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
